

#caption {
  color: white;
  font-size: 20px;
  font-family: Courier New, monospace;
  font-weight: normal;
  text-decoration: none;
  left: 50px;
  top: 80px;
  position: absolute;
}

video {
  position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#caption2 {
  color: white;
  font-size: 40px;
  font-family: Courier New, monospace;
  font-weight: normal;
  text-decoration: none;
  left: 880px;
  top: 590px;
  position: absolute;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

h1{
  font-size: 40px;
  font-family: Helvetica,sans-serif;
  font-weight: bold;
  text-decoration: none;
}

p{
  font-size: 20px;
  font-family: Helvetica,sans-serif;
  font-weight: normal;
  text-decoration: none;
}
